#activityListContainer {
  padding-top: 1em;
}
#activityListContainer .list-group-item {
  display:inline-block;
  padding:2em;
  font-size:large;
}
.w-60 {
  width: 60%!important;
}
@media (min-width:850px) {
  #activityListContainer .list-group-item {
    width:33%;
  }
}
@media (min-width:550px) and (max-width: 850px){
  #activityListContainer .list-group-item {
    width:50%;
  }
}
#activityListContainer button.edit {
  float:right;
  padding: 0 2em;
}
#activityListContainer .list-group-item input {
  margin-left: 1em!important;
}
#activityListContainer .alert {
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
}
#editSoundModal {
  z-index: 5001;
}
#addNewActivityModal {
  z-index: 5000;
}
#reminderToggle {
  border: none;
  padding-left: 0px;
  padding-bottom: 8px;
}
#btnAddActivityToSequence {
  display: block;
}
#editSequenceModal ul {
  padding: 0px;
}
#editSequenceModal li {
  list-style-type: none;
  padding: 0.5em;
  border: 1px solid white;
  background-color: #f8f9fa;
  cursor: grab;
}
#editSequenceModal input:disabled {
  border: none;
}
#editSequenceModal li .fa-grip-lines-vertical {
  opacity: 0.25;
}
#editSequenceModal li * {
  margin: auto 0;
}
#clockContainer {
  display: none;
}
.modal audio {
  display: inline-block;
  vertical-align: middle;
}
#editSoundModal button.btn-record {
  background-color: red;
  color: white;
}
#editSoundModal button.btn-record:disabled {
  background-color: lightgray;
  color: black;
}
input.has-error, input.has-error:focus {
  border: 1px solid red;
  outline: none;
}
